/* Classes */
.tableInformation {
    height: 297px;
    width: 500px;
    margin: auto;
}

.select-class {
    width: 200px;
    display: inline;
}

.id-input {
    width: 400px;
    display: inline;
}
.btn-primary {
    display: inline;
}


/* ID */
#no-info {
    margin-left: 150px;
}