/* Classes */
.tableVenueChannelID {
    height: 297px;
    width: 600px;
    overflow: auto;
    margin: auto;
}

.file-format {
    margin-left: 1px;
}

.venue {
    margin-left: 15px;
    width: 200px;
    display: inline;
}

.channel_id {
    width: 175px;
    display: inline;
}


/* ID */
#select_3 {
    margin-top: 10px;
}

#btn-add {
    margin-top: -6px;
}

#channelIds {
    width: 300px;
    display: inline;
}